body{
    display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.btn-modern{
    padding: 5px 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid darkgreen;
    transition: 0.4s;
}

.btn-modern:hover{
    transform: translateY(-5px);
    box-shadow: 4px;
    background-color: rgb(0,100,0);
    color: #ddd;
}

