*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100vh;
}

.seccion-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.seccion-2{
    display: flex;
    float: right;
    gap: 20px;
}

@media (max-width: 640px){
    .seccion-1{
        flex-direction:row;
    }

    .seccion-2{
        flex-direction: column;
    }
}

